<nav class="centered-logo top-bar">
    <div class="container">
    
        <div class="row utility-menu">
            <div class="col-sm-12">
                <div class="utility-inner clearfix" vht=".utility-menu">
                    <span class="alt-font"><i class="icon icon_pin"></i> 300 Collins St Melbourne</span>
                    <span class="alt-font"><i class="icon icon_mail"></i> hello@pivot.net</span>
                
                    
                    <ul class="social-icons text-right">
                        <li>
                            <a href="#">
                                <i vht="parent" class="icon social_twitter"></i>
                            </a>
                        </li>
                
                        <li>
                            <a href="#">
                                <i vht="parent" class="icon social_facebook"></i>
                            </a>
                        </li>
                
                        <li>
                            <a href="#">
                                <i vht="parent" class="icon social_dribbble"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12 text-center">
                <img class="logo logo-light" alt="Logo" delay-src="../img/logo-light.png">
                <img class="logo logo-dark" alt="Logo" delay-src="../img/logo-dark.png">
            </div>
        </div>
    
    
        <div class="row nav-menu">
        
            <div class="col-sm-12 columns text-center">
                <ul class="menu vjd">
                    <li><a vht="parent" href="#">Single Link</a></li>
                    <li class="has-dropdown"><a vht="parent" href="#">Dropdown</a>
                        <ul class="subnav">
                            <li><a vht="parent" href="#">Example</a></li>
                            <li><a vht="parent" href="#">Example</a></li>
                            <li><a vht="parent" href="#">Example</a></li>
                            <li><a vht="parent" href="#">Example</a></li>
                        </ul>
                    </li>
                    <li class="has-dropdown"><a vht="parent" href="#">Half Width</a>
                        <div class="subnav subnav-halfwidth">
                            <div class="col-sm-6">
                                <h6 class="alt-font">Subnav Title</h6>
                                <ul class="subnav">
                                    <li><a vht="parent" href="#">Example</a></li>
                                    <li><a vht="parent" href="#">Example</a></li>
                                    <li><a vht="parent" href="#">Example</a></li>
                                    <li><a vht="parent" href="#">Example</a></li>
                                </ul>   
                            </div>
                            
                            <div class="col-sm-6">
                                <h6 class="alt-font">Subnav Title</h6>
                                <ul class="subnav">
                                    <li><a vht="parent" href="#">Example</a></li>
                                    <li><a vht="parent" href="#">Example</a></li>
                                    <li><a vht="parent" href="#">Example</a></li>
                                    <li><a vht="parent" href="#">Example</a></li>
                                </ul>   
                            </div>
                        </div>
                    </li>
                    <li class="has-dropdown"><a vht="parent" href="#">Fullwidth</a>
                        <div class="subnav subnav-fullwidth">
                            <div class="col-md-3">
                                <h6 class="alt-font">Subnav Title</h6>
                                <ul class="subnav">
                                    <li><a vht="parent" href="#">Example</a></li>
                                    <li><a vht="parent" href="#">Example</a></li>
                                    <li><a vht="parent" href="#">Example</a></li>
                                    <li><a vht="parent" href="#">Example</a></li>
                                </ul>   
                            </div>
                            
                            <div class="col-md-3">
                                <h6 class="alt-font">Subnav Title</h6>
                                <ul class="subnav">
                                    <li><a vht="parent" href="#">Example</a></li>
                                    <li><a vht="parent" href="#">Example</a></li>
                                    <li><a vht="parent" href="#">Example</a></li>
                                    <li><a vht="parent" href="#">Example</a></li>
                                </ul>   
                            </div>
                            
                            <div class="col-md-3">
                                <h6 class="alt-font">Subnav Title</h6>
                                <ul class="subnav">
                                    <li><a vht="parent" href="#">Example</a></li>
                                    <li><a vht="parent" href="#">Example</a></li>
                                    <li><a vht="parent" href="#">Example</a></li>
                                    <li><a vht="parent" href="#">Example</a></li>
                                </ul>   
                            </div>
                            
                            <div class="col-md-3">
                                <h6 class="alt-font">Subnav Title</h6>
                                <ul class="subnav">
                                    <li><a vht="parent" href="#">Example</a></li>
                                    <li><a vht="parent" href="#">Example</a></li>
                                    <li><a vht="parent" href="#">Example</a></li>
                                    <li><a vht="parent" href="#">Example</a></li>
                                </ul>   
                            </div>
                        </div>
                    </li>
                    
                </ul>

            </div>
        </div>
        
        <div class="mobile-toggle">
            <i vht="parent" class="icon icon_menu"></i>
        </div>
        
    </div>
    <div class="bottom-border"></div>
</nav>