<nav class="fullscreen-nav top-bar overlay-bar">
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href="index.html">
                    <img alt="logo" class="outer-logo" delay-src="../img/logo-light.png">
                </a>
            </div>
        </div>
    </div>  

    <div class="fullscreen-nav-toggle">
        <i class="icon icon_menu"></i>
        <i class="icon icon_close"></i>
    </div>
    
    <div class="fullscreen-nav-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <a href="index.html">
                        <img class="logo" alt="Logo" delay-src="../img/logo-light.png">
                    </a>
                    <ul class="menu vjd">
                        <li><a vht="parent" href="#" class="vjy">Home</a></li>
                        <li><a vht="parent" href="#" class="vjy">About</a></li>
                        <li><a vht="parent" href="#" class="vjy">Services</a></li>
                        <li><a vht="parent" href="#" class="vjy">Blog</a></li>
                        <li><a vht="parent" href="#" class="vjy">Work</a></li>
                        <li><a vht="parent" href="#" class="vjy">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>  
</nav>