<nav class="top-bar overlay-bar offscreen-menu">
    <div class="container">
    
        <div class="row nav-menu clearfix">
            <div class="col-xs-2">
                <img class="logo logo-light" alt="Logo" delay-src="../img/logo-light.png">
                <img class="logo logo-dark" alt="Logo" delay-src="../img/logo-dark.png">
            </div>
            
            <div class="col-xs-2 text-right pull-right">
                <div class="offscreen-toggle">
                    <i class="icon icon_menu text-white"></i>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <hr class="no-margin">
            </div>
        </div>
        
    </div>
    
    <div class="offscreen-container">
        <img alt="logo" class="logo" delay-src="../img/logo-light.png">
        <ul class="menu vjd">
            <li><a vht="parent" href="#">Home</a></li>
            <li><a vht="parent" href="#">About</a></li>
            <li><a vht="parent" href="#">Services</a></li>
            <li><a vht="parent" href="#">Portfolio</a></li>
            <li><a vht="parent" href="#">Contact</a></li>
        </ul>   
        <ul class="social-icons">
            <li>
                <a href="#">
                    <i vht="parent" class="icon social_twitter"></i>
                </a>
            </li>
    
            <li>
                <a href="#">
                    <i vht="parent" class="icon social_facebook"></i>
                </a>
            </li>
    
            <li>
                <a href="#">
                    <i vht="parent" class="icon social_instagram"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>