<section class="accordion-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-4 align-vertical no-align-mobile">
                <ul class="icons-large">
                    <li><i class="icon icon-circle-compass" vht="parent"></i></li>
                    <li><i class="icon icon-lightbulb" vht="parent"></i></li>
                    <li><i class="icon icon-scissors" vht="parent"></i></li>
                </ul>
                <h1 class="no-margin-bottom">With tons of interactive elements, Pivot allows your content to shine</h1>
            </div>
        
            <div class="col-sm-7 col-md-4">
                <ul class="accordion">
                    <li class="active">
                        <div class="title" vht="li"><span>Awesome Interactive Elements</span></div>
                        <div class="text">
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
                            </p>
                            <p>
                                Aaperiam, eaque ipsa quae ab illo inventore veritatis sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem  et quasi architecto beatae totam.
                            </p>
                        </div>
                    </li>
                
                    <li>
                        <div class="title" vht="li"><span>Unbeatably Versatile Design</span></div>
                        <div class="text">
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
                            </p>
                            <p>
                                Aaperiam, eaque ipsa quae ab illo inventore veritatis sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem  et quasi architecto beatae totam.
                            </p>
                        </div>
                    </li>
                
                    <li>
                        <div class="title" vht="li"><span>Consistent Visual Style Throughout</span></div>
                        <div class="text">
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
                            </p>
                            <p>
                                Aaperiam, eaque ipsa quae ab illo inventore veritatis sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem  et quasi architecto beatae totam.
                            </p>
                        </div>
                    </li>
                
                    <li>
                        <div class="title" vht="li"><span>Page Building Capacity</span></div>
                        <div class="text">
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
                            </p>
                            <p>
                                Aaperiam, eaque ipsa quae ab illo inventore veritatis sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem  et quasi architecto beatae totam.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        
            <div class="col-md-4 hidden-sm align-vertical no-align-mobile">
                <div class="feature">
                    <h5>Amazingly Simple Use</h5>
                    <p>
                        Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus
                    </p>
                </div>
            
                <div class="feature">
                    <h5>Built On Bootstrap 3</h5>
                    <p>
                        Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>