<section class="action-banner overlay">
    
    <div class="background-image-holder">
        <img class="background-image" alt="Background Image" delay-src="../img/hero3.jpg">
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h1 class="text-white">I'm ready to purchase this stunningly beautiful template. Where do I sign?</h1>
                <h2 class="text-white">We're chuffed to hear it, and you'll be chuffed at the incredibly reasonable price.</h2>
                <a href="#" class="btn btn-primary btn-white">More Features</a>
                <a href="#" class="btn btn-primary btn-white btn-filled">Purchase Pivot</a>
            </div>
        </div>
    </div>
    
</section>