<section class="duplicatable-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Latest News & Views</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="blog-snippet-1">
                    <a href="#">
                        <img alt="Blog Thumb" delay-src="../img/blog-thumb-1.jpg">
                    </a>
                    <h2>Why is building with Variant so darn fun and dead-easy?</h2>
                    <span class="sub alt-font">Published on July 15th 2014</span>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
                    </p>
                    <a href="#" class="link-text">Read The Rest</a>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="blog-snippet-1">
                    <a href="#">
                        <img alt="Blog Thumb" delay-src="../img/blog-thumb-2.jpg">
                    </a>
                    <h2>Why is building with Variant so darn fun and dead-easy?</h2>
                    <span class="sub alt-font">Published on July 15th 2014</span>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
                    </p>
                    <a href="#" class="link-text">Read The Rest</a>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="blog-snippet-1">
                    <a href="#">
                        <img alt="Blog Thumb" delay-src="../img/blog-thumb-3.jpg">
                    </a>
                    <h2>Why is building with Variant so darn fun and dead-easy?</h2>
                    <span class="sub alt-font">Published on July 15th 2014</span>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
                    </p>
                    <a href="#" class="link-text">Read The Rest</a>
                </div>
            </div>
        </div>  
    </div>
</section>