<section class="side-image clearfix">
        
    <div class="container">
        <div class="row">
            <div class="col-md-6 content col-sm-8 clearfix">
                <h1>Latest news & views from deep inside the Rarelab</h1>

                <ul class="blog-snippet-2">
                    <li>
                        <div class="icon">
                            <i class="icon icon-pencil"></i>
                        </div>
                        <div class="title" vht="parent">
                            <a href="#">Building layouts that have established vertical rhythm.</a>
                            <span class="sub alt-font">Published on July 15th 2014</span>
                        </div>
                    </li>
                    
                    <li>
                        <div class="icon">
                            <i class="icon icon-calendar"></i>
                        </div>
                        <div class="title" vht="parent">
                            <a href="#">Discussing the latest design trends and how they impact on the theme marketplace</a>
                            <span class="sub alt-font">Published on July 10th 2014</span>
                        </div>
                    </li>
                    
                    <li>
                        <div class="icon">
                            <i class="icon icon-newspaper"></i>
                        </div>
                        <div class="title" vht="parent">
                            <a href="#">Variant: Our new page building tool has just been released, now let's all celebrate shall we!?</a>
                            <span class="sub alt-font">Published on July 7th 2014</span>
                        </div>
                    </li>
                    
                    <li>
                        <div class="icon" vht="parent">
                            <i class="icon icon-pencil"></i>
                        </div>
                        <div class="title" vht="parent">
                            <a href="#">How to manage customer expectations when launching a new product</a>
                            <span class="sub alt-font">Published on July 3rd 2014</span>
                        </div>
                    </li>
                </ul>   
                
                </div>
        
            
        </div>
    </div>
    
    <div class="image-container col-md-5 col-sm-3 pull-right">
        <div class="background-image-holder">
            <img class="background-image" alt="Background Image" delay-src="../img/hero10.jpg">
        </div>
    </div>
    
</section>