<section class="blog-image-snippet">
    <div class="background-image-holder parallax-background">
        <img alt="background image" class="background-image" delay-src="../img/hero13.jpg">
    </div>
    
    <div class="container">         
        <div class="row">
            <div class="col-sm-12">     
                <a href="blog-single.html" class="vjx">
                    <h1 class="text-white">Discussing current theme design trends</h1>
                    <span class="text-white alt-font"><i class="icon icon_calendar"></i> September 17th 2014</span>
                    <span class="text-white alt-font"><i class="icon icon_clock"></i> 4 minute read</span>
                </a>
            </div>  
        </div>
    </div>
</section>