<section class="blog-masonry bg-muted">
    
    <!-- <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <ul class="blog-filters">
                    <li data-filter="*" class="active"><span>All</span></li>
                    <li data-filter=".branding"><span>Branding</span></li>
                    <li data-filter=".development"><span>Development</span></li>
                    <li data-filter=".print"><span>Print Design</span></li>
                </ul>
            </div>
        </div>
    </div> -->
    
    <div class="container">
        <div class="row">
            <div class="blog-masonry-container vjd">
                {% for block in value.snippets %}
                {{ block }}
                {% endfor %}
                <!--
                <div class="col-md-4 col-sm-6 blog-masonry-item branding">
                    <div class="item-inner" vht="parent">
                        <a href="blog-single.html">
                            <img alt="Blog Preview" delay-src="../img/blog-masonry-1.jpg">
                        </a>
                        <div class="post-title">
                            <h2>Layout out my writing gear as though I'll use it.</h2>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
                            </p>
                            <div class="post-meta">
                                <span class="sub alt-font">Posted on June 16th</span>
                                <span class="sub alt-font">4 Minute Read</span>
                            </div>
                            <a href="blog-single.html" class="link-text">Read More</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-6 blog-masonry-item development">
                    <div class="item-inner quote-post" vht="parent">
                        <div class="post-title">
                            <h1>"A camel is a horse designed by committee"</h1>
                            <div class="post-meta">
                                <span class="sub alt-font">Alec Issigonis</span>
                                <span class="sub alt-font">1965</span>
                            </div>
                            <a href="blog-single.html" class="link-text">Read More</a>
                        </div>
                    </div>
                </div>
            
                <div class="col-md-4 col-sm-6 blog-masonry-item development">
                    <div class="item-inner" vht="parent">
                        <a href="blog-single.html">
                            <img alt="Blog Preview" delay-src="../img/blog-masonry-2.jpg">
                        </a>
                        <div class="post-title">
                            <h2>Cooking up a batch of Ma's famous breadsticks</h2>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
                            </p>
                            <div class="post-meta">
                                <span class="sub alt-font">Posted on June 13th</span>
                                <span class="sub alt-font">4 Minute Read</span>
                            </div>
                            <a href="blog-single.html" class="link-text">Read More</a>
                        </div>
                    </div>
                </div>
            
                <div class="col-md-4 col-sm-6 blog-masonry-item print">
                    <div class="item-inner" vht="parent">
                        <a href="blog-single.html">
                            <img alt="Blog Preview" delay-src="../img/blog-masonry-3.jpg">
                        </a>
                        <div class="post-title">
                            <h2>Wearing my trendy straw hat at the farm.</h2>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                            </p>
                            <div class="post-meta">
                                <span class="sub alt-font">Posted on June 11th</span>
                                <span class="sub alt-font">4 Minute Read</span>
                            </div>
                            <a href="blog-single.html" class="link-text">Read More</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-6 blog-masonry-item branding">
                    <div class="item-inner" vht="parent">
                        <a href="blog-single.html">
                            <img alt="Blog Preview" delay-src="../img/blog-masonry-4.jpg">
                        </a>
                        <div class="post-title">
                            <h2>Happy snaps in my hand-made raft at sunset</h2>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                            </p>
                            <div class="post-meta">
                                <span class="sub alt-font">Posted on June 8th</span>
                                <span class="sub alt-font">2 Minute Read</span>
                            </div>
                            <a href="blog-single.html" class="link-text">Read More</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-6 blog-masonry-item print">
                    <div class="item-inner" vht="parent">
                        <iframe no-src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/154584032&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                        <div class="post-title">
                            <h2>Henry Saiz - Anubis</h2>
                            <div class="post-meta">
                                <span class="sub alt-font">Posted on June 11th</span>
                                <span class="sub alt-font">4 Minute Read</span>
                            </div>
                            <a href="blog-single.html" class="link-text">Read More</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-6 blog-masonry-item print" vht="parent">
                    <div class="item-inner video-post" vht="parent">
                        <iframe no-src="http://player.vimeo.com/video/106181453"></iframe>
                        <div class="post-title">
                            <h2>Vimeo Video Post</h2>
                            <div class="post-meta">
                                <span class="sub alt-font">Posted on June 3rd</span>
                                <span class="sub alt-font">2 Minute Read</span>
                            </div>
                            <a href="blog-single.html" class="link-text">Read More</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-6 blog-masonry-item development" vht="parent" data-vip="{&quot;buttonText&quot;:&quot;Edit Video Embed&quot;,&quot;modalTitle&quot;:&quot;Edit Video Embed&quot;,&quot;modalIntro&quot;:&quot;Get the embed code from your preferred video provider and paste here.&quot;,&quot;modalInputLabel&quot;:&quot;Video Embed Code:&quot;,&quot;selector&quot;:&quot;iframe&quot;,&quot;attribute&quot;:&quot;src&quot;}">
                    <div class="item-inner video-post" vht="parent">
                        <iframe no-src="http://www.youtube.com/embed/VdEVhE4X6x0"></iframe>
                        <div class="post-title">
                            <h2>Youtube Video Post</h2>
                            <div class="post-meta">
                                <span class="sub alt-font">Posted on June 3rd</span>
                                <span class="sub alt-font">2 Minute Read</span>
                            </div>
                            <a href="blog-single.html" class="link-text">Read More</a>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
</section>