<section class="feature-divider">
    
    <div class="background-image-holder" data-scroll-reveal="wait 0.2s then enter 200px from bottom over 0.3s">
        <img class="background-image" alt="Background Image" delay-src="../img/grey-bg.jpg">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h1>Our latest product has all the fancy features you could want</h1>
                <p class="lead">
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor. Et harum quidem rerum.
                </p>
                <a class="store-link" href="#"><img alt="Buy On App Store" delay-src="../img/app-store.png"></a>
                <a class="store-link" href="#"><img alt="Buy On App Store" delay-src="../img/google-play.png"></a>
            </div>
        
            <div class="col-sm-7" data-scroll-reveal="enter from bottom and move 100px">
                <img alt="App Screenshot" delay-src="../img/app2.png">
            </div>
        </div>
    </div>
</section>