<section class="text-banner">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12">
                <ul class="icons-large">
                    <li><i class="icon icon-desktop" vht="parent"></i></li>
                    <li><i class="icon icon-tools-2" vht="parent"></i></li>
                    <li><i class="icon icon-compass" vht="parent"></i></li>
                </ul>
                <h1 class="center-block">Pivot is fun, fresh & functional</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <p class="lead">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="#" class="btn btn-primary">See Features</a>
                <a href="#" class="btn btn-primary btn-text-only">Learn More</a>
            </div>
        </div>
    </div>
</section>