<section class="clients">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="lead">Some awesome companies we've had the pleasure to work with</p>
            </div>
        </div>
        
        <div class="row client-row">
            <div class="row-wrapper">
                <div class="col-sm-3 text-center">
                    <img alt="client" delay-src="../img/client4.png">
                </div>
            
                <div class="col-sm-3 text-center">
                    <img alt="client" delay-src="../img/client2.png">
                </div>
            
                <div class="col-sm-3 text-center">
                    <img alt="client" delay-src="../img/client3.png">
                </div>
            
                <div class="col-sm-3 text-center">
                    <img alt="client" delay-src="../img/client1.png">
                </div>
            </div>
        </div>
        
        <div class="row client-row">
            <div class="row-wrapper">
                <div class="col-sm-3 text-center">
                    <img alt="client" delay-src="../img/client5.png">
                </div>
            
                <div class="col-sm-3 text-center">
                    <img alt="client" delay-src="../img/client6.png">
                </div>
            
                <div class="col-sm-3 text-center">
                    <img alt="client" delay-src="../img/client7.png">
                </div>
            
                <div class="col-sm-3 text-center">
                    <img alt="client" delay-src="../img/client8.png">
                </div>
            </div>
        </div>
    </div>
</section>