<section class="clients-2">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-4">
                <img alt="Client Logo" delay-src="../img/client1.png">
            </div>
            
            <div class="col-md-2 col-sm-4">
                <img alt="Client Logo" delay-src="../img/client2.png">
            </div>
            
            <div class="col-md-2 col-sm-4">
                <img alt="Client Logo" delay-src="../img/client3.png">
            </div>
            
            <div class="col-md-2 col-sm-4">
                <img alt="Client Logo" delay-src="../img/client4.png">
            </div>
            
            <div class="col-md-2 col-sm-4">
                <img alt="Client Logo" delay-src="../img/client5.png">
            </div>
            
            <div class="col-md-2 col-sm-4">
                <img alt="Client Logo" delay-src="../img/client6.png">
            </div>
        </div>
    </div>
</section>