<section class="contact-thirds">
    <div class="container">
        <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>Contact Us<br>
                    We'd love to hear from you
                    </h1>
                </div>
        </div>
        
        <div class="row">
            <div class="col-sm-4">
                <h5>Enquiries</h5>
                <p>
                    Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus. 
                </p>
                
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            
            <div class="col-sm-4 text-center">
                <h5>Details</h5>
                <p class="lead">
                    + 61 5736 4928<br>
                    hello@pivot.net<br>
                    <br>
                    300 Collins St<br>
                    Melbourne 3000
                </p>
            </div>
            
            <div class="col-sm-4">
                <h5>Leave A Message</h5>
                <div class="form-wrapper clearfix">
                    <form class="form-contact email-form">
                        <div class="inputs-wrapper">
                            <input class="form-name validate-required" type="text" placeholder="Your Name" name="name" data-vip="{&quot;buttonText&quot;:&quot;Edit Placeholder Text&quot;,&quot;modalTitle&quot;:&quot;Edit Placeholder Text&quot;,&quot;modalIntro&quot;:&quot;Enter text you want the user to see when field is empty.&quot;,&quot;modalInputLabel&quot;:&quot;Placeholder text:&quot;,&quot;selector&quot;:&quot;input&quot;,&quot;attribute&quot;:&quot;placeholder&quot;,&quot;refresh&quot;:&quot;false&quot;}">
                            <input class="form-email validate-required validate-email" type="text" placeholder="Your Email Address" name="email" data-vip="{&quot;buttonText&quot;:&quot;Edit Placeholder Text&quot;,&quot;modalTitle&quot;:&quot;Edit Placeholder Text&quot;,&quot;modalIntro&quot;:&quot;Enter text you want the user to see when field is empty.&quot;,&quot;modalInputLabel&quot;:&quot;Placeholder text:&quot;,&quot;selector&quot;:&quot;input&quot;,&quot;attribute&quot;:&quot;placeholder&quot;,&quot;refresh&quot;:&quot;false&quot;}">
                            <textarea class="form-message validate-required" name="message" placeholder="Your Message" data-vip="{&quot;buttonText&quot;:&quot;Edit Placeholder Text&quot;,&quot;modalTitle&quot;:&quot;Edit Placeholder Text&quot;,&quot;modalIntro&quot;:&quot;Enter text you want the user to see when field is empty.&quot;,&quot;modalInputLabel&quot;:&quot;Placeholder text:&quot;,&quot;selector&quot;:&quot;textarea&quot;,&quot;attribute&quot;:&quot;placeholder&quot;,&quot;refresh&quot;:&quot;false&quot;}"></textarea>
                        </div>
                        <input type="submit" class="send-form" value="Send Form" data-vip="{&quot;buttonText&quot;:&quot;Edit Submit Button Text&quot;,&quot;modalTitle&quot;:&quot;Edit Submit Button Text&quot;,&quot;modalIntro&quot;:&quot;Change the text on the submit button of this form.&quot;,&quot;modalInputLabel&quot;:&quot;Text value:&quot;,&quot;selector&quot;:&quot;input&quot;,&quot;attribute&quot;:&quot;value&quot;,&quot;refresh&quot;:&quot;false&quot;}">
                        <div class="form-success">
                            <span class="text-white">Message sent - Thanks for your enquiry</span>
                        </div>
                        <div class="form-error">
                            <span class="text-white">Please complete all fields correctly</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>