<section class="strip bg-white">
    <div class="container">
        <div class="row clearfix">
            <div class="col-sm-3 col-xs-12 pull-left">
                <a href="#" class="btn btn-primary btn-grey">Contact Us</a>
            </div>
            
            <div class="col-sm-4 col-xs-12 pull-right text-right">
                <ul class="social-icons">
                    <li>
                        <a href="#">
                            <i class="icon social_twitter"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#">
                            <i class="icon social_facebook"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#">
                            <i class="icon social_dribbble"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>