<section class="feature-selector">
    <div class="container">
        <div class="row">
            <ul class="selector-tabs clearfix">
                <li class="clearfix text-primary col-md-3 col-sm-6 active">
                        <i class="icon icon-target"></i>
                        <span>Targeted Branding</span>
                </li>
            
                <li class="clearfix text-primary col-md-3 col-sm-6">
                        <i class="icon icon-map-pin"></i>
                        <span>Geolocating Features</span>
                </li>
            
                <li class="clearfix text-primary col-md-3 col-sm-6">
                        <i class="icon icon-strategy"></i>
                        <span>Marketing Strategy</span>
                </li>
            
                <li class="clearfix text-primary col-md-3 col-sm-6">
                        <i class="icon icon-anchor"></i>
                        <span>On Page Navigation</span>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="container">
        <ul class="selector-content">
            <li class="clearfix active">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1>Visually appealing ways to present information</h1>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-6">
                        <p class="lead">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
                        </p>    
                    </div>
                
                    <div class="col-sm-6">
                        <p class="lead">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
                        </p>    
                    </div>
                </div>
            </li>
            
            <li class="clearfix">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1>Many appealing ways to present information</h1>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-6">
                        <p class="lead">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
                        </p>    
                    </div>
                
                    <div class="col-sm-6">
                        <p class="lead">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
                        </p>    
                    </div>
                </div>
            </li>
            
            <li class="clearfix">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1>Several appealing ways to present information</h1>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-6">
                        <p class="lead">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
                        </p>    
                    </div>
                
                    <div class="col-sm-6">
                        <p class="lead">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
                        </p>    
                    </div>
                </div>
            </li>
            
            <li class="clearfix">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1>Numerous appealing ways to present information</h1>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-6">
                        <p class="lead">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
                        </p>    
                    </div>
                
                    <div class="col-sm-6">
                        <p class="lead">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
                        </p>    
                    </div>
                </div>
            </li>
            

        </ul>
    </div>
</section>