<section class="video-inline">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h1 class="space-bottom-medium">Check out our latest video</h1>
                <p class="lead space-bottom-medium">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                </p>
            </div>
        </div>
            
        <div class="row">
            <div class="col-sm-12">
                <div class="media-holder fullwidth-video" data-vip="{&quot;buttonText&quot;:&quot;Edit Video Embed&quot;,&quot;modalTitle&quot;:&quot;Edit Video Embed&quot;,&quot;modalIntro&quot;:&quot;Get the embed code from your preferred video provider and paste here.&quot;,&quot;modalInputLabel&quot;:&quot;Video Embed Code:&quot;,&quot;selector&quot;:&quot;iframe&quot;,&quot;attribute&quot;:&quot;src&quot;}">
                    <iframe width="100%" height="315" no-src="http://www.youtube.com/embed/SZEflIVnhH8?showinfo=0&rel=0&modestbranding=1" frameborder="0" allowfullscreen>
                    
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>