<section class="image-divider overlay duplicatable-content">
    <div class="background-image-holder parallax-background">
        <img class="background-image" alt="Background Image" delay-src="../img/hero13.jpg">
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <span class="text-white alt-font">Check this out</span>
                <h1 class="text-white">Our Process</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-4">
                <div class="feature feature-icon-large" vht="parent">
                    <i class="text-white icon icon-notebook"></i>
                    <h5 class="text-white">Research</h5>
                    <p class="text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="feature feature-icon-large" vht="parent">
                    <i class="text-white icon icon-genius"></i>
                    <h5 class="text-white">Develop</h5>
                    <p class="text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="feature feature-icon-large" vht="parent">
                    <i class="text-white icon icon-gift"></i>
                    <h5 class="text-white">Deliver</h5>
                    <p class="text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
                </div>
            </div>
        </div>
    </div>
</section>