<section class="side-image text-heavy clearfix">
    <div class="image-container col-md-5 col-sm-3 pull-left">
        <div class="background-image-holder">
            <img class="background-image" alt="Background Image" delay-src="../img/side2.jpg">
        </div>
    </div>
    
    <div class="container">
    
        <div class="row">
    
            <div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4 content clearfix">
                <h1>Welcome to Pivot</h1>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                </p>
                <a href="" class="btn btn-primary">Purchase Pivot</a><br>
                <div class="col-sm-6 no-pad-left feature">
                    <h5>Tons Of Elements</h5>
                    <p>
                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor
                    </p>
                </div>
            
                <div class="col-sm-6 no-pad-left feature">
                    <h5>Video Walkthroughs</h5>
                    <p>
                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor
                    </p>
                </div>
            </div>
        
        </div>
    
    </div>
</section>