<section class="side-image clearfix">
    <div class="image-container col-md-5 col-sm-4 pull-left">
        <div class="background-image-holder">
            <img class="background-image" alt="Background Image" delay-src="../img/side1.jpg">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-6 col-sm-7 col-sm-offset-5 content clearfix">
                <h1>Pivot includes many element<br>variations to showcase your content.</h1>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                </p>
            
                <div class="row">
                    <div class="col-md-6 no-pad-left">
                        <div class="feature feature-icon-left">
                            <div class="icon-holder">
                                <i class="icon icon-genius"></i>
                            </div>
                            <div class="feature-text">
                                <h6>Clear Documentation</h6>
                                <p>
                                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus. 
                                </p>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-md-6 no-pad-left">
                        <div class="feature feature-icon-left">
                            <div class="icon-holder">
                                <i class="icon icon-flag"></i>
                            </div>
                            <div class="feature-text">
                                <h6>Support Forum Access</h6>
                                <p>
                                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-md-6 no-pad-left">
                        <div class="feature feature-icon-left">
                            <div class="icon-holder">
                                <i class="icon icon-mobile"></i>
                            </div>
                            <div class="feature-text">
                                <h6>Optimized For Mobile</h6>
                                <p>
                                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus. 
                                </p>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-md-6 no-pad-left">
                        <div class="feature feature-icon-left">
                            <div class="icon-holder">
                                <i class="icon icon-clipboard"></i>
                            </div>
                            <div class="feature-text">
                                <h6>Fully Featured & Flexible</h6>
                                <p>
                                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
</section>