<section class="text-image-bottom bg-white">
    <div class="container">
    
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h1>Pivot is a well designed template built from the ground up for startups to build sites really quickly. Check it out with Variant now.</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6">
                <p class="lead">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
                </p>
            </div>
            
            <div class="col-sm-6">
                <p class="lead">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
                </p>
            </div>
        </div>
    </div>
    
    <div class="text-center">
        <img alt="Freelancer Essentials" delay-src="../img/bottom1.jpg">
    </div>
</section>