<section class="video-inline">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1 class="space-bottom-medium">Pivot is an effortlessly simple startup template with usable features.</h1>
                <p class="lead space-bottom-medium">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                </p>
                <a href="#" class="btn btn-primary">See Features</a>
                <a href="#" class="btn btn-primary btn-text-only">Learn More</a>
            </div>
            
            <div class="col-md-6 col-sm-12">
                <div class="inline-video-wrapper">
                    <video controls>
                        <source delay-src="../video/video.webm" type="video/webm">
                        </source><source delay-src="../video/video.mp4" type="video/mp4">
                        </source><source delay-src="../video/video.ogv" type="video/ogg">
                    </source></video>
                </div>
            </div>
        </div>
    </div>
</section>