<section class="instagram-feed" data-vip="{&quot;buttonText&quot;:&quot;Edit Instagram Feed&quot;,&quot;modalTitle&quot;:&quot;Edit Instagram Feed&quot;,&quot;modalIntro&quot;:&quot;Enter the username for your desired Instagram feed.&quot;,&quot;modalInputLabel&quot;:&quot;Instagram username:&quot;,&quot;selector&quot;:&quot;.instafeed&quot;,&quot;attribute&quot;:&quot;data-user-name&quot;,&quot;refresh&quot;:&quot;true&quot;}">
    <div class="container">
        <div class="row text-center">
            <div><span class="alt-font">Insta <i class="icon social_instagram"></i> Gram</span></div>
        </div>
    </div>
    
    <div class="instafeed" data-user-name="erikmarinovich">
        <ul></ul>
    </div>
</section>