<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                <h1>A lightbox enabled gallery</h1>
                <p class="lead">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta. 
                </p>    
            </div>
        </div>
        
        <div class="row">
            <div class="image-gallery lightbox-gallery-mrv">
            
                <div class="col-sm-8 veo">
                    <div class="image-holder" data-scroll-reveal="enter bottom and move 30px">
                        <a href="../img/side1.jpg" class="ven" data-lightbox="true" data-title="Glamour Model">
                            <div class="background-image-holder">
                                <img class="background-image lightbox-image" alt="Glamour Model" delay-src="../img/side1.jpg">
                            </div>
                        </a>
                    </div>
                </div>
                
                <div class="col-sm-4 veo">
                    <div class="image-holder" data-scroll-reveal="enter bottom and move 30px">
                        <a href="../img/side2.jpg" class="ven" data-lightbox="true" data-title="Another Lightbox Image">
                            <div class="background-image-holder">
                                <img class="background-image lightbox-image" alt="Another Lightbox Image" delay-src="../img/side2.jpg">
                            </div>
                        </a>
                    </div>
                </div>
                
                <div class="col-sm-4 veo">
                    <div class="image-holder" data-scroll-reveal="enter bottom and move 30px">
                        <a href="../img/side3.jpg" class="ven" data-lightbox="true" data-title="Architect">
                            <div class="background-image-holder">
                                <img class="background-image lightbox-image" alt="Architect" delay-src="../img/side3.jpg">
                            </div>
                        </a>
                    </div>
                </div>
                
                <div class="col-sm-4 veo">
                    <div class="image-holder" data-scroll-reveal="enter bottom and move 30px">
                        <a href="../img/hero4.jpg" class="ven" data-lightbox="true" data-title="Dusk Rider">
                            <div class="background-image-holder">
                                <img class="background-image lightbox-image" alt="Dusk Rider" delay-src="../img/hero4.jpg">
                            </div>
                        </a>
                    </div>
                </div>
                
                <div class="col-sm-4 veo" data-scroll-reveal="enter bottom and move 30px">
                    <div class="image-holder">
                        <a href="../img/hero3.jpg" class="ven" data-lightbox="true" data-title="Designer">
                            <div class="background-image-holder">
                                <img class="background-image lightbox-image" alt="Designer" delay-src="../img/hero3.jpg">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    
        
    </div>
</section>