<section class="duplicatable-content milestones">
    
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h1>Career Highlights</h1>
                <p class="lead">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae. 
                </p>    
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6 text-center">
                <div class="feature feature-icon-large" vht="parent">
                    <i class="icon icon-notebook"></i>
                    <div class="pin-body"></div>
                    <div class="pin-head"></div>
                    <h5>2008 - Graduated</h5>
                    <span>Bachelor of Design</span>
                    <span class="sub">RMIT University Melbourne</span>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6 text-center">
                <div class="feature feature-icon-large" vht="parent">
                    <i class="icon icon-briefcase"></i>
                    <div class="pin-body"></div>
                    <div class="pin-head"></div>
                    <h5>2009 - Joined GoCorp.</h5>
                    <span>Junior Developer</span>
                    <span class="sub">UI / UX Design</span>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6 text-center">
                <div class="feature feature-icon-large" vht="parent">
                    <i class="icon icon-ribbon"></i>
                    <div class="pin-body"></div>
                    <div class="pin-head"></div>
                    <h5>2011 - Attained PhD.</h5>
                    <span>Emergent Web Design</span>
                    <span class="sub">University of Melbourne</span>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6 text-center">
                <div class="feature feature-icon-large" vht="parent">
                    <i class="icon icon-mic"></i>
                    <div class="pin-body"></div>
                    <div class="pin-head"></div>
                    <h5>2013 - Spoke at Meetup</h5>
                    <span>Efficient JS Modelling</span>
                    <span class="sub">Meetup 2014 - Melbourne</span>
                </div>
            </div>
        

        </div>
    </div>

</section>