<section class="strip bg-primary" data-vip="{&quot;buttonText&quot;:&quot;Embed Mailing List Form&quot;,&quot;modalTitle&quot;:&quot;Embed Mailing List Signup Form&quot;,&quot;modalIntro&quot;:&quot;Copy the form code from your mailing list provider.  Currently Mailchimp and Campaign Monitor are supported.  The `Super Slim` form from Mailchimp best suits this section as it includes only the email field.&quot;,&quot;modalInputLabel&quot;:&quot;Form embed code:&quot;,&quot;selector&quot;:&quot;.mail-list-form&quot;,&quot;attribute&quot;:&quot;srcdoc&quot;,&quot;refresh&quot;:&quot;false&quot;}">
    <div class="container">
        <div class="row clearfix">
            <form class="mail-list-signup">
                <div class="col-sm-9 col-xs-12 pull-left clear-fix">
                    <h3 class="text-white pull-left"><strong>Get Notified.&nbsp;</strong></h3>
                    <input type="text" class="signup-email-field validate-required validate-email" placeholder="Enter your email here here" data-vip="{&quot;buttonText&quot;:&quot;Edit Placeholder Text&quot;,&quot;modalTitle&quot;:&quot;Edit Placeholder Text&quot;,&quot;modalIntro&quot;:&quot;Enter text you want the user to see when field is empty.&quot;,&quot;modalInputLabel&quot;:&quot;Placeholder text:&quot;,&quot;selector&quot;:&quot;input&quot;,&quot;attribute&quot;:&quot;placeholder&quot;,&quot;refresh&quot;:&quot;false&quot;}">
                </div>
                
                <div class="col-sm-3 col-xs-12 pull-right text-right">
                    <input type="submit" class="btn btn-primary btn-filled" value="Subscribe" data-vip="{&quot;buttonText&quot;:&quot;Edit Submit Button Text&quot;,&quot;modalTitle&quot;:&quot;Edit Submit Button Text&quot;,&quot;modalIntro&quot;:&quot;Change the text on the submit button of this form.&quot;,&quot;modalInputLabel&quot;:&quot;Text value:&quot;,&quot;selector&quot;:&quot;input&quot;,&quot;attribute&quot;:&quot;value&quot;,&quot;refresh&quot;:&quot;false&quot;}">
                </div>
            </form>
        </div>
        
    </div>
    <iframe class="mail-list-form" srcdoc="">
    </iframe>
</section>