<section class="pricing-1 bg-secondary-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="text-white">Super simple pricing<br>that scales with your usage</h1>
            </div>
        </div>
        
        <div class="row clearfix pricing-tables">
            <div class="col-md-3 col-sm-6 no-pad-right">
                <div class="pricing-table">
                    <div class="price">
                        <span class="sub">$</span>
                        <span class="amount">29</span>
                        <span class="sub">/mo</span>
                    </div>
                    <ul class="features">
                        <li><strong>200GB</strong> Storage</li>
                        <li><strong>Unlimited</strong> Bandwidth</li>
                        <li><strong>24/7</strong> Support</li>
                        <li><strong>100</strong> Unique Logins</li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-white">Sign Me Up</a>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6 no-pad">
                <div class="pricing-table">
                    <div class="price">
                        <span class="sub">$</span>
                        <span class="amount">29</span>
                        <span class="sub">/mo</span>
                    </div>
                    <ul class="features">
                        <li><strong>200GB</strong> Storage</li>
                        <li><strong>Unlimited</strong> Bandwidth</li>
                        <li><strong>24/7</strong> Support</li>
                        <li><strong>100</strong> Unique Logins</li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-white">Sign Me Up</a>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6 no-pad">
                <div class="pricing-table emphasis">
                    <div class="price">
                        <span class="sub">$</span>
                        <span class="amount">29</span>
                        <span class="sub">/mo</span>
                    </div>
                    <ul class="features">
                        <li><strong>200GB</strong> Storage</li>
                        <li><strong>Unlimited</strong> Bandwidth</li>
                        <li><strong>24/7</strong> Support</li>
                        <li><strong>100</strong> Unique Logins</li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-white">Sign Me Up</a>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6 no-pad-left">
                <div class="pricing-table">
                    <div class="price">
                        <span class="sub">$</span>
                        <span class="amount">29</span>
                        <span class="sub">/mo</span>
                    </div>
                    <ul class="features">
                        <li><strong>200GB</strong> Storage</li>
                        <li><strong>Unlimited</strong> Bandwidth</li>
                        <li><strong>24/7</strong> Support</li>
                        <li><strong>100</strong> Unique Logins</li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-white">Sign Me Up</a>
                </div>
            </div>
            
            
        </div>
        
    </div>

</section>