<section class="skill-bars">

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h1>Skills & Expertise</h1>
                <p class="lead">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae. 
                </p>    
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="skills-left skills">
                    <h3>Design</h3>
                    <ul class="skills-ul">
                        <li>
                            <span>Responsive Web Design</span>
                            <div class="skill-bar-holder">
                                <div class="skill-capacity col-xs-11"></div>
                            </div>
                        </li>
                        
                        <li>
                            <span>Branding & Identity</span>
                            <div class="skill-bar-holder">
                                <div class="skill-capacity col-xs-9"></div>
                            </div>
                        </li>
                        
                        <li>
                            <span>Photoshop & Illustrator</span>
                            <div class="skill-bar-holder">
                                <div class="skill-capacity col-xs-7"></div>
                            </div>
                        </li>
                        
                        <li>
                            <span>Macaw</span>
                            <div class="skill-bar-holder">
                                <div class="skill-capacity col-xs-6"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-6 col-sm-12">
                <div class="skills-right skills">
                    <h3>Develop</h3>
                    <ul class="skills-ul">
                        <li>
                            <span>HTML & CSS3</span>
                            <div class="skill-bar-holder">
                                <div class="skill-capacity col-xs-11"></div>
                            </div>
                        </li>
                        
                        <li>
                            <span>Javascript / Jquery</span>
                            <div class="skill-bar-holder">
                                <div class="skill-capacity col-xs-9"></div>
                            </div>
                        </li>
                        
                        <li>
                            <span>PHP & MySQL</span>
                            <div class="skill-bar-holder">
                                <div class="skill-capacity col-xs-7"></div>
                            </div>
                        </li>
                        
                        <li>
                            <span>WordPress</span>
                            <div class="skill-bar-holder">
                                <div class="skill-capacity col-xs-6"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        

    </div>
</section>