<section class="image-slider-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h1>Check out our gallery</h1>
                <p class="lead">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
                </p>
                <div class="image-slider image-gallery">
                    <ul class="slides">
                        <li><img alt="Image Slider Image" delay-src="../img/slider1.jpg"></li>
                        <li><img alt="Image Slider Image" delay-src="../img/slider2.jpg"></li>
                        <li><img alt="Image Slider Image" delay-src="../img/slider3.jpg"></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</section>