<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center">
                <img class="phone-portrait" alt="App Screenshot" delay-src="../img/app-1.png">
            </div>
        
            <div class="col-sm-6 align-vertical no-align-mobile clearfix">
                <div class="col-md-6 no-pad-left clearfix">
                    <div class="feature feature-icon-small" vht="parent">
                        <i class="icon icon-document"></i>
                        <h6>Fully Documented</h6>
                        <p>
                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor.
                        </p>
                    </div>
                </div>
            
                <div class="col-md-6 no-pad-left clearfix">
                    <div class="feature feature-icon-small" vht="parent">
                        <i class="icon icon-linegraph"></i>
                        <h6>Flexible & Modular</h6>
                        <p>
                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor.
                        </p>
                    </div>
                </div>
            
                <div class="col-md-6 no-pad-left clearfix">
                    <div class="feature feature-icon-small" vht="parent">
                        <i class="icon icon-target"></i>
                        <h6>Super Sleek Icons</h6>
                        <p>
                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor.
                        </p>
                    </div>
                </div>
            
                <div class="col-md-6 no-pad-left clearfix">
                    <div class="feature feature-icon-small" vht="parent">
                        <i class="icon icon-layers"></i>
                        <h6>Variant Builder Support</h6>
                        <p>
                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor.
                        </p>
                    </div>
                </div>
                

            </div>
        </div>
    
    </div>
</section>