<section class="primary-features duplicatable-content">
    <div class="container">
        <div class="row">

                <div class="col-md-4 col-sm-6 clearfix">
                    <div class="feature feature-icon-small" vht="parent">
                        <i class="icon icon-document"></i>
                        <h6 class="text-white">Fully Documented</h6>
                        <p class="text-white">
                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor.
                        </p>
                    </div>
                </div>
            
                <div class="col-md-4 col-sm-6 clearfix">
                    <div class="feature feature-icon-small" vht="parent">
                        <i class="icon icon-linegraph"></i>
                        <h6 class="text-white">Flexible & Modular</h6>
                        <p class="text-white">
                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor.
                        </p>
                    </div>
                </div>
            
                <div class="col-md-4 col-sm-6 clearfix">
                    <div class="feature feature-icon-small" vht="parent">
                        <i class="icon icon-target"></i>
                        <h6 class="text-white">Super Sleek Icons</h6>
                        <p class="text-white">
                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor.
                        </p>
                    </div>
                </div>

        </div>
    
    </div>
</section>