<section class="social-bar no-pad">
    <div class="col-md-3 col-sm-6 no-pad">
        <a href="#">
            <div class="link bg-twitter">
                <div class="initial">
                    <i class="icon social_twitter"></i>
                </div>
            
                <div class="hover-state">
                    <span class="text-white">Follow On Twitter</span>
                </div>
            </div>
        </a>
    </div>
    
    <div class="col-md-3 col-sm-6 no-pad">
        <a href="#">
            <div class="link bg-facebook">
                <div class="initial">
                    <i class="icon social_facebook"></i>
                </div>
            
                <div class="hover-state">
                    <span class="text-white">Friends on Facebook</span>
                </div>
            </div>
        </a>
    </div>
    
    <div class="col-md-3 col-sm-6 no-pad">
        <a href="#">
            <div class="link bg-dribbble">
                <div class="initial">
                    <i class="icon social_dribbble"></i>
                </div>
            
                <div class="hover-state">
                    <span class="text-white">Shots on Dribbble</span>
                </div>
            </div>
        </a>
    </div>
    
    <div class="col-md-3 col-sm-6 no-pad">
        <a href="#">
            <div class="link bg-tumblr">
                <div class="initial">
                    <i class="icon social_tumblr"></i>
                </div>
            
                <div class="hover-state">
                    <span class="text-white">Thoughts on Tumblr</span>
                </div>
            </div>
        </a>
    </div>
</section>