<section class="team-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1>About Our Team</h1>
            </div>
        </div>
        
        <div class="row space-bottom-large">
            <div class="col-sm-4">
                <div class="team-1-member" vht="parent">
                    <img alt="Team Member" delay-src="../img/team-small-1.png ">
                    <h2>Chip Mayer</h2>
                    <h5>Founder & CEO</h5>
                    <p class="space-top-small">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="team-1-member" vht="parent">
                    <img alt="Team Member" delay-src="../img/team-small-3.png ">
                    <h2>Claire Taurus</h2>
                    <h5>Creative Director</h5>
                    <p class="space-top-small">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="team-1-member" vht="parent">
                    <img alt="Team Member" delay-src="../img/team-small-5.png ">
                    <h2>Robbin Banks</h2>
                    <h5>Partner & COO</h5>
                    <p class="space-top-small">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                </div>
            </div>
            

        </div>
        
        <div class="row">
            <div class="col-sm-4">
                <div class="feature" vht="parent">
                    <span class="alt-font sub">Inclusive Culture</span>
                    <p>
                        Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus
                    </p>
                </div>
            </div>
        
            <div class="col-sm-4">
                <div class="feature" vht="parent">
                    <span class="alt-font sub">Cutting Edge Facility</span>
                    <p>
                        Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus
                    </p>
                </div>
            </div>
        
            <div class="col-sm-4">
                <div class="feature" vht="parent">
                    <span class="alt-font sub">Work to live mentality</span>
                    <p>
                        Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus
                    </p>
                </div>
            </div>
        </div>
        
    </div>
</section>