<section class="team-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>We've a killer team at the helm</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4 col-md-offset-2 col-sm-6">
                <div class="team-2-member">
                    <div class="image-holder">
                        <img alt="Team Member" class="background-image" delay-src="../img/team-large-1.jpg">
                        <div class="hover-state">
                            <ul class="social-icons align-vertical">
                                <li>
                                    <a href="#">
                                        <i class="icon social_facebook"></i>
                                    </a>
                                </li>
                    
                                <li>
                                    <a href="#">
                                        <i class="icon social_twitter"></i>
                                    </a>
                                </li>
                    
                                <li>
                                    <a href="#">
                                        <i class="icon social_dribbble"></i>
                                    </a>
                                </li>
                            </ul>   
                        </div>
                    </div>
                    <span class="name">Chip Mayer</span>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
                    </p>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="team-2-member">
                    <div class="image-holder">
                        <img alt="Team Member" class="background-image" delay-src="../img/team-large-2.jpg">
                        <div class="hover-state">
                            <ul class="social-icons align-vertical">
                                <li>
                                    <a href="#">
                                        <i class="icon social_googleplus"></i>
                                    </a>
                                </li>
                    
                                <li>
                                    <a href="#">
                                        <i class="icon social_spotify"></i>
                                    </a>
                                </li>
                    
                                <li>
                                    <a href="#">
                                        <i class="icon social_linkedin"></i>
                                    </a>
                                </li>
                            </ul>   
                        </div>
                    </div>
                    <span class="name">Janine Kennedy</span>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
                    </p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4 col-md-offset-2 col-sm-6">
                <div class="team-2-member">
                    <div class="image-holder">
                        <img alt="Team Member" class="background-image" delay-src="../img/team-large-3.jpg">
                        <div class="hover-state">
                            <ul class="social-icons align-vertical">
                                <li>
                                    <a href="#">
                                        <i class="icon social_facebook"></i>
                                    </a>
                                </li>
                    
                                <li>
                                    <a href="#">
                                        <i class="icon social_twitter"></i>
                                    </a>
                                </li>
                    
                                <li>
                                    <a href="#">
                                        <i class="icon social_dribbble"></i>
                                    </a>
                                </li>
                            </ul>   
                        </div>
                    </div>
                    <span class="name">Claire Taurus</span>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
                    </p>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="team-2-member">
                    <div class="image-holder">
                        <img alt="Team Member" class="background-image" delay-src="../img/team-large-4.jpg">
                        <div class="hover-state">
                            <ul class="social-icons align-vertical">
                                <li>
                                    <a href="#">
                                        <i class="icon social_googleplus"></i>
                                    </a>
                                </li>
                    
                                <li>
                                    <a href="#">
                                        <i class="icon social_spotify"></i>
                                    </a>
                                </li>
                    
                                <li>
                                    <a href="#">
                                        <i class="icon social_linkedin"></i>
                                    </a>
                                </li>
                            </ul>   
                        </div>
                    </div>
                    <span class="name">Vincent Simmons</span>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
                    </p>
                </div>
            </div>
        </div>
        
        
    </div>
</section>