<section class="team-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1>We've a killer team at the helm</h1>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-2 col-sm-4">
                <div class="team-1-member">
                    <img alt="Team Member" class="background-image" delay-src="../img/team-small-1.png ">
                    <h5>Chip Mayer</h5>
                    <span>Founder & CEO</span><br>
                    <ul class="social-icons">
                        <li>
                            <a href="#">
                                <i class="icon social_twitter"></i>
                            </a>
                        </li>
                    
                        <li>
                            <a href="#">
                                <i class="icon social_facebook"></i>
                            </a>
                        </li>
                    
                        <li>
                            <a href="#">
                                <i class="icon social_dribbble"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-2 col-sm-4">
                <div class="team-1-member">
                    <img alt="Team Member" class="background-image" delay-src="../img/team-small-2.png ">
                    <h5>Carl Kennedy</h5>
                    <span>Founder & COO</span><br>
                    <ul class="social-icons">
                        <li>
                            <a href="#">
                                <i class="icon social_twitter"></i>
                            </a>
                        </li>
                    
                        <li>
                            <a href="#">
                                <i class="icon social_facebook"></i>
                            </a>
                        </li>
                    
                        <li>
                            <a href="#">
                                <i class="icon social_tumblr"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-2 col-sm-4">
                <div class="team-1-member">
                    <img alt="Team Member" class="background-image" delay-src="../img/team-small-3.png ">
                    <h5>Jen Forrest</h5>
                    <span>Lead Designer</span><br>
                    <ul class="social-icons">
                        <li>
                            <a href="#">
                                <i class="icon social_twitter"></i>
                            </a>
                        </li>
                    
                        <li>
                            <a href="#">
                                <i class="icon social_facebook"></i>
                            </a>
                        </li>
                    
                        <li>
                            <a href="#">
                                <i class="icon social_instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-2 col-sm-4">
                <div class="team-1-member">
                    <img alt="Team Member" class="background-image" delay-src="../img/team-small-4.png ">
                    <h5>Claire Taurus</h5>
                    <span>Product Designer</span><br>
                    <ul class="social-icons">
                        <li>
                            <a href="#">
                                <i class="icon social_twitter"></i>
                            </a>
                        </li>
                    
                        <li>
                            <a href="#">
                                <i class="icon social_pinterest"></i>
                            </a>
                        </li>
                    
                        <li>
                            <a href="#">
                                <i class="icon social_instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-2 col-sm-4">
                <div class="team-1-member">
                    <img alt="Team Member" class="background-image" delay-src="../img/team-small-5.png ">
                    <h5>Amy Banks</h5>
                    <span>Developer</span><br>
                    <ul class="social-icons">
                        <li>
                            <a href="#">
                                <i class="icon social_googleplus"></i>
                            </a>
                        </li>
                    
                        <li>
                            <a href="#">
                                <i class="icon social_spotify"></i>
                            </a>
                        </li>
                    
                        <li>
                            <a href="#">
                                <i class="icon social_linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-2 col-sm-4">
                <div class="team-1-member">
                    <a href="#"><img alt="Team Member" delay-src="../img/team-small-6.png "></a>
                    <h5>We're Hiring!</h5>
                    <span>Apply Now</span>
                </div>
            </div>
        </div>
        
    </div>
</section>