<section class="no-pad clearfix">
        
    <div class="col-md-4 col-sm-6 no-pad">
        <div class="feature-box bg-primary">
            <h1 class="text-white">Here is a large, attention seeking feature box</h1>
            <p class="text-white">
                Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. 
            </p>
            <a href="#" class="btn btn-primary btn-white">Tell Me More</a>
        </div>
    </div>
    
    <div class="col-md-4 col-sm-6 no-pad">
        <div class="feature-box bg-secondary-1">
            <h1 class="text-white">Here is a large, attention seeking feature box</h1>
            <p class="text-white">
                Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. 
            </p>
            <a href="#" class="btn btn-primary btn-white">Tell Me More</a>
        </div>
    </div>
    
    <div class="col-md-4 col-sm-6 no-pad">
        <div class="feature-box bg-muted">
            <h1>Here is a large, attention seeking feature box</h1>
            <p>
                Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. 
            </p>
            <a href="#" class="btn btn-primary">Tell Me More</a>
        </div>
    </div>
    
</section>