<section data-vip="{&quot;buttonText&quot;:&quot;Edit Twitter Feed&quot;,&quot;modalTitle&quot;:&quot;Edit Twitter Feed&quot;,&quot;modalIntro&quot;:&quot;Enter the widget ID that you retrieved from your Twitter URL. NOTE: You must first create a widget on your twitter settings page, visit the widget and copy the 18-digit id from the URL.&quot;,&quot;modalInputLabel&quot;:&quot;Widget ID:&quot;,&quot;selector&quot;:&quot;#tweets&quot;,&quot;attribute&quot;:&quot;data-widget-id&quot;,&quot;refresh&quot;:&quot;true&quot;}">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <i class="icon icon-jumbo social_twitter"></i>
                <div id="tweets" data-widget-id="492085717044981760">
                
                </div>
                <p>
                    Follow us <strong><a href="#">@mrareweb</a></strong> for more awesome updates
                </p>
            </div>
        </div>
    </div>
</section>