<section class="hero-divider">
    
    <div class="background-image-holder overlay">
        <img class="background-image" alt="Poster Image For Mobiles" delay-src="../img/side1.jpg">
    </div>

    <div class="video-wrapper">
        <video autoplay="" muted="" loop="">
            <source delay-src="../video/video.webm" type="video/webm">
            </source><source delay-src="../video/video.mp4" type="video/mp4">
            </source><source delay-src="../video/video.ogv" type="video/ogg">   
        </source></video>

    </div>
    
    <div class="container">
        <div class="row">   
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h1 class="text-white">Awesome Video Dividers</h1>
                <p class="lead text-white">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                </p>
                <a href="#" class="btn btn-white btn-primary">See More</a>
                <a href="#" class="btn btn-primary btn-filled">Purchase</a>
            </div>
        </div>
    </div>
</section>