<section class="hero-slider">
    <ul class="slides">
        <li class="overlay">
            <div class="background-image-holder parallax-background">
                <img class="background-image" alt="Background Image" delay-src="../img/hero4.jpg">
            </div>
            
            <div class="video-wrapper">
                <video autoplay="" muted="" loop="">
                    <source delay-src="../video/video.webm" type="video/webm">
                    </source><source delay-src="../video/video.mp4" type="video/mp4">
                    </source><source delay-src="../video/video.ogv" type="video/ogg">   
                </source></video>
            </div>
            
            <div class="container align-vertical">
                <div class="row">
                    <div class="col-md-6 col-sm-9">
                        <h1 class="text-white">Get ready for the launch of our amazing new template Pivot, You will be awed.</h1>
                        <a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
                        <a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>
                    </div>
                </div>
            </div>
        </li>
        
        <li class="overlay">
            <div class="background-image-holder parallax-background">
                <img class="background-image" alt="Background Image" delay-src="../img/hero1.jpg">
            </div>
            
            <div class="container align-vertical">
                <div class="row">
                    <div class="col-md-6 col-sm-9">
                        <h1 class="text-white">Get ready for the launch of our amazing new template Pivot, You will be awed.</h1>
                        <a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
                        <a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>
                    </div>
                </div>
            </div>
        </li>

    </ul>
</section>