<section class="hero-divider" data-vip="{&quot;buttonText&quot;:&quot;Edit Video Embed&quot;,&quot;modalTitle&quot;:&quot;Edit Video Embed&quot;,&quot;modalIntro&quot;:&quot;Get the embed code from your preferred video provider and paste here.&quot;,&quot;modalInputLabel&quot;:&quot;Video Embed Code:&quot;,&quot;selector&quot;:&quot;iframe&quot;,&quot;attribute&quot;:&quot;src&quot;}">
    
    <div class="background-image-holder overlay">
        <img class="background-image" alt="Poster Image For Mobiles" delay-src="../img/side1.jpg">
    </div>

    <div class="video-wrapper youtube-bg">
        <iframe class="youtube-bg-iframe" type="text/html" youtube-src="https://www.youtube.com/embed/kvJxX7fk0gI?rel=0&enablejsapi=1&autoplay=1&controls=0&showinfo=0&loop=1&iv_load_policy=3"></iframe>
    </div>
    
    <div class="container">
        <div class="row">   
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h1 class="text-white">Awesome Youtube Dividers</h1>
                <p class="lead text-white">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                </p>
                <a href="#" class="btn btn-white btn-primary">See More</a>
                <a href="#" class="btn btn-primary btn-filled">Purchase</a>
            </div>
        </div>
    </div>
</section>