<header class="fullscreen-element no-pad centered-text">
    <div class="background-image-holder parallax-background overlay">
        <img class="background-image" alt="Background Image" delay-src="../img/hero14.jpg">
    </div>
    
    <div class="container align-vertical">
        <div class="row">
            <div class="col-md-7 col-sm-8">
                <span class="text-white alt-font">Say Hello To Pivot</span>
                <h1 class="text-white">The biggest, baddest new template on the block has just arrived,<br> build yours now.</h1>
                <p class="lead text-white">Tons of elements, Consistent style, Variant builder included.</p>
                <a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
                <a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>
            </div>
        </div>
    </div>
    
    <div class="bottom-band">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <span class="sub alt-font text-white">Tuesday 12th August</span>
                    <h3 class="text-white">Pivot with Variant builder just released - This shit is insane</h3>
                    <a href="blog-single.html" class="link-text text-white">Read More</a>
                </div>
                
                <div class="col-sm-4">
                    <span class="sub alt-font text-white">Wednesday 27th July</span>
                    <h3 class="text-white">How much does it cost to make an app?</h3>
                    <a href="blog-single.html" class="link-text text-white">Read More</a>
                </div>
                
                <div class="col-sm-4">
                    <span class="sub alt-font text-white">Friday 3rd July</span>
                    <h3 class="text-white">Our designers reveal their secrets to staying productive</h3>
                    <a href="blog-single.html" class="link-text text-white">Read More</a>
                </div>
            </div>
        </div>
    </div>
</header>