<header class="header-icons overlay">
        <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" delay-src="../img/hero2.jpg">
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-white">
                        Hello, I'm Craig Garner<br>
                        A <strong>multi-disciplinary</strong> designer
                    </h1>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-4">
                    <i class="icon icon-desktop text-white"></i>
                    <h2 class="text-white">Web Design</h2>
                </div>
                
                <div class="col-sm-4">
                    <i class="icon icon-mobile text-white"></i>
                    <h2 class="text-white">UI / UX Development</h2>
                </div>
                
                <div class="col-sm-4">
                    <i class="icon icon-genius text-white"></i>
                    <h2 class="text-white">Branding & Identity</h2>
                </div>
            </div>

        </div>  
</header>