<header class="product-action">
        
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
                <h2 class="text-white">Call users to take direct action on your product.</h2>
                <p class="text-white">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
                </p>
                <a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">More Info</a>
                <a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>
            </div>
            <div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
                <img alt="Screenshot" src="../img/ipad2.png">
            </div>
        </div>
    </div>
    
    
</header>