<header class="signup">
    <div class="background-image-holder parallax-background">
        <img class="background-image" alt="Background Image" delay-src="../img/hero5.jpg">
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                <h1 class="text-white">Welcome to our amazing new service <br>sign up now and experience the pure goodness</h1>
            </div>
        </div>
        
        <div class="row text-center">
        
            <div class="col-sm-12 text-center">
                <div class="photo-form-wrapper clearfix">
                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <input class="form-email" type="text" placeholder="Email Address" data-vip="{&quot;buttonText&quot;:&quot;Edit Placeholder Text&quot;,&quot;modalTitle&quot;:&quot;Edit Placeholder Text&quot;,&quot;modalIntro&quot;:&quot;Enter text you want the user to see when field is empty.&quot;,&quot;modalInputLabel&quot;:&quot;Placeholder text:&quot;,&quot;selector&quot;:&quot;input&quot;,&quot;attribute&quot;:&quot;placeholder&quot;,&quot;refresh&quot;:&quot;false&quot;}">
                        </div>
            
                        <div class="col-md-3 col-sm-4">
                            <input class="form-password" type="password" placeholder="Password" data-vip="{&quot;buttonText&quot;:&quot;Edit Placeholder Text&quot;,&quot;modalTitle&quot;:&quot;Edit Placeholder Text&quot;,&quot;modalIntro&quot;:&quot;Enter text you want the user to see when field is empty.&quot;,&quot;modalInputLabel&quot;:&quot;Placeholder text:&quot;,&quot;selector&quot;:&quot;input&quot;,&quot;attribute&quot;:&quot;placeholder&quot;,&quot;refresh&quot;:&quot;false&quot;}">
                        </div>
                        
                        <div class="col-md-3 col-sm-4">
                            <input class="form-password2" type="password" placeholder="Confirm Password" data-vip="{&quot;buttonText&quot;:&quot;Edit Placeholder Text&quot;,&quot;modalTitle&quot;:&quot;Edit Placeholder Text&quot;,&quot;modalIntro&quot;:&quot;Enter text you want the user to see when field is empty.&quot;,&quot;modalInputLabel&quot;:&quot;Placeholder text:&quot;,&quot;selector&quot;:&quot;input&quot;,&quot;attribute&quot;:&quot;placeholder&quot;,&quot;refresh&quot;:&quot;false&quot;}">
                        </div>
                        
                        <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-4 text-center">
                            <input type="submit" class="btn btn-primary btn-filled" value="Start My Free Trial" data-vip="{&quot;buttonText&quot;:&quot;Edit Submit Button Text&quot;,&quot;modalTitle&quot;:&quot;Edit Submit Button Text&quot;,&quot;modalIntro&quot;:&quot;Change the text on the submit button of this form.&quot;,&quot;modalInputLabel&quot;:&quot;Text value:&quot;,&quot;selector&quot;:&quot;input&quot;,&quot;attribute&quot;:&quot;value&quot;,&quot;refresh&quot;:&quot;false&quot;}">
                        </div>
                    </div>
        
                </div>
                
                <span class="text-white">30 Day risk free trial - No credit card required</span>
            </div>
        
        </div>
        
    </div>  
</header>