{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="{% static 'pivot/css/flexslider.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static 'pivot/css/line-icons.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static 'pivot/css/elegant-icons.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static 'pivot/css/lightbox.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static 'pivot/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
        {% with 'pivot/css/'|add:page.theme|add:'.css' as theme %}
        <link href="{% static theme %}" rel="stylesheet" type="text/css" media="all"/>
        {% endwith %}
        <link href="{% static 'pivot/css/custom.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <!--[if gte IE 9]>
            <link rel="stylesheet" type="text/css" href="{% static 'pivot/css/ie9.css' %}" />
        <![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
        {% block extra_css %}{% endblock %}
        <script src="{% static 'pivot/js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    </head>
    <body class="{% block body_class %}{% endblock %}">
        
        {% wagtailuserbar %}
        
        <div class="loader">
            <div class="spinner">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
            </div>
        </div>
                
        <div class="main-container"><a id="home" class="in-page-link"></a>
            {% block content %}
            {{ page.header }}
            {{ page.body }}
            {% endblock %}
        </div>

        <div class="footer-container">          
            
            <footer class="short bg-secondary-1">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10">
                            <span class="sub">The Isavnins &copy; 2016</span>
                            <!-- <ul>
                                <li><a href="#">Terms Of Use</a></li>
                            </ul> -->
                        </div>
                        
                        <div class="col-sm-2 text-right">
                            <ul class="social-icons">
                                {% if settings.pivot.SocialMediaSettings.twitter %}
                                <li>
                                    <a href="{{ settings.pivot.SocialMediaSettings.twitter }}">
                                        <i class="icon social_twitter"></i>
                                    </a>
                                </li>
                                {% endif %}

                                {% if settings.pivot.SocialMediaSettings.facebook %}
                                <li>
                                    <a href="{{ settings.pivot.SocialMediaSettings.facebook }}">
                                        <i class="icon social_facebook"></i>
                                    </a>
                                </li>
                                {% endif %}

                                {% if settings.pivot.SocialMediaSettings.instagram %}
                                <li>
                                    <a href="{{ settings.pivot.SocialMediaSettings.instagram }}">
                                        <i class="icon social_instagram"></i>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>   
                        </div>
                    </div>
                </div>
            </footer>

        </div>
        <script src="{% static 'pivot/js/jquery.min.js' %}"></script>
        <script src="{% static 'pivot/js/jquery.plugin.min.js' %}"></script>
        <script src="{% static 'pivot/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'pivot/js/jquery.flexslider-min.js' %}"></script>
        <script src="{% static 'pivot/js/smooth-scroll.min.js' %}"></script>
        <script src="{% static 'pivot/js/skrollr.min.js' %}"></script>
        <script src="{% static 'pivot/js/spectragram.min.js' %}"></script>
        <script src="{% static 'pivot/js/scrollReveal.min.js' %}"></script>
        <script src="{% static 'pivot/js/isotope.min.js' %}"></script>
        <!-- <script src="{% static 'pivot/js/twitterFetcher_v10_min.js' %}"></script> -->
        <script src="{% static 'pivot/js/lightbox.min.js' %}"></script>
        <script src="{% static 'pivot/js/jquery.countdown.min.js' %}"></script>
        <script src="{% static 'pivot/js/scripts.js' %}"></script>
        {% block extra_js %}{% endblock %}
    </body>
</html>
